:root {
    font-family: "Roboto", "sans-serif";
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 4fr;
    height: 100vh;
}

.sidebar {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    background-color: #222831;
    color: white;
    padding: 20px 40px;
    gap: 24px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo > img {
    height: 64px;
}

.logo > h1 {
    font-size: 2rem;
}

.projects {
    display: flex;
    flex-direction: column;
}

.projects-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0 5px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.projects-card:hover {
    border: 1px solid white;
    border-radius: 10px;
}

.projects-card.active {
    border: 1px solid white;
    border-radius: 10px;
}

.content {
    grid-column: 2 / 3;
    background-color: #393e46;
    color: white;
    padding: 20px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tasks-list {
    display: flex;
    flex-direction: column;
}

.task-card {
    display: flex;
    justify-content: space-around;
}
